samplewise_center=True
featurewise_std_normalization=True
samplewise_std_normalization=True
zca_whitening=True
zca_epsilon=1e-6
rotation_range=10
width_shift_range=0.5
height_shift_range=0.5
shear_range=0.2
zoom_range=0.3
channel_shift_range=0
fill_mode=padding
cval=0
horizontal_flip=True
vertical_flip=True
rescale=None
preprocessing_function=None
data_format='channels_first'